profiles {
    test {
        params {
           query = '/xDELFI/sample_data'
           metadata = '/xDELFI/sample_data/metadata_all_2235.csv'
        }
    }

    docker_test {
        params {
            query = 'xDELFI/sample_data/*.bgz'
            metadata = 'xDELFI/sample_data/metadata_all_2235.csv'            
            script = 'xDELFI/script'
            lib = 'xDELFI/script/iDELFI.R'
        }
        docker.enabled = true
        docker.runOptions= "--network='host'"
    }
}
